* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #082032;
  }
  
  .container .clock {
    font-family: "Orbitron", sans-serif;
    font-size: 10vw;
    background-image: linear-gradient(180deg, #52006a, #cd113b, #ff7600, #ffa900);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  
  .container .controlls {
    margin-top: 20px;
  }
  .container .controlls .button {
    border: none;
    padding: 7px 15px;
    color: white;
    border-radius: 7px;
    margin-left: 4px;
    width: 140px;
    cursor: pointer;
    transition: 0.3s;
  }
  .container .controlls .button:hover {
    letter-spacing: 1.2px;
  }
  .container .controlls .setAlarm {
    background-color: #297f87;
  }
  
  .container .controlls .clearAlarm {
    background-color: #7d1935;
  }
 h1{
    font-size: 50px;
    font-family: sans-serif;
    color: #e66d0a; ;

  }
  .card {
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    background: rgb(254, 253, 255);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(201, 96, 10, 0.845);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align:justify;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: rgb(229, 172, 14);
  }
  
  .card:hover {
    border: 1px solid rgba(234, 146, 13, 0.616);
    transform: scale(1.05);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }
  button1 {
    position: relative;
    background-color: rgb(18, 37, 89);
    border-radius: 5px;
    box-shadow: rgb(121, 18, 55) 0px 4px 0px 0px;
    padding: 15px;
    cursor: pointer;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 154px;
    text-align: center;
    height: 49px;
    color: #fff;
    border: none;
    font-size: 20px;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
  }
  
  button1::before {
    content: "submit";
    background-color: rgb(rgb(247, 122, 13), rgb(247, 122, 13), rgb(222, 151, 10));
    width: 15;
    height: 100%;
    position: static;
    top: 15;
    left: 15;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
  }
  
  button1:hover::before {
    width: 100%;
  }
